.App {
  font-family: sans-serif;
  text-align: center;
}

button, input[type="submit"] {
  margin: 5px;
  padding: 5px;
  border-radius: 4px;
}

ul {
  padding: 0;
  list-style-type:none;
}

.link-input {
  width: 200px;
}

#word-main {
  color: blueviolet
}

.bold > div {
  font-weight: bold;
}